
<!-- ####    CONCEPTS    #### -->
<div class="row">
    <p class="fs-30 cl-viol fbold">Conceptos</p>
    <div class="col-md-7">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of concepts">
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="col-md-5">
        <form action="" >

            <div class="form-group mtop-10px">
                <input type="text" class="form-control ol-viol" [(ngModel)]="concept.name" name="conceptname" placeholder="Nombre" required autofocus >
            </div>

            <div class="form-group mtop-10px">
                <input type="text" class="form-control ol-viol" [(ngModel)]="concept.description" name="conceptdescription" placeholder="Descripción" required autofocus >
            </div>

            <div class="form-group mtop-20px">
                <button class=" btn cl-viol-pos2 ol-viol ol-viol-hv" info-title="Crear Concepto" (click)="addConcept()">
                    Crear Concepto
                </button>
            </div>

        </form>
    </div>

</div>


<!-- ####    DISHTYPES    #### -->
<div class="row mtop-20px">
    <p class="fs-30 cl-viol fbold">Tipos de Comida</p>
    <div class="col-md-7">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dishtypes">
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="col-md-5">

        <form action="" >

            <div class="form-group mtop-10px">
                <input type="text" class="form-control ol-viol" [(ngModel)]="dishType.name" name="conceptname" placeholder="Nombre" required autofocus >
            </div>

            <div class="form-group mtop-10px">
                <input type="text" class="form-control ol-viol" [(ngModel)]="dishType.description" name="conceptdescription" placeholder="Descripción" required autofocus >
            </div>

            <div class="form-group mtop-20px">
                <button class=" btn cl-viol-pos2 ol-viol ol-viol-hv" info-title="Crear Tipo de Comida" (click)="addDishType()">
                    Crear Tipo de Comida
                </button>
            </div>

        </form>

    </div>

</div>



<!-- ####    RESTAURANTS & DISHES    #### -->
<div class="row mtop-20px">


    <div class="col-md-6">
        <p class="fs-30 cl-viol fbold">Restaurantes</p>
        <form action="" >

            <div class="form-group mtop-10px col-md-6">
                <input type="text" class="form-control ol-viol" [(ngModel)]="restaurant.name" name="restaurantname" placeholder="Nombre" required autofocus >
            </div>

            <div class="form-group mtop-10px col-md-6">
                <input type="text" class="form-control ol-viol" [(ngModel)]="restaurant.location" name="restaurantlocation" placeholder="Dirección" required autofocus >
            </div>

            <div class="form-group mtop-10px col-md-6">
                <p class="cl-viol fs-25">Concepto</p>
                <select class="form-control ol-viol ol-viol-hv c-pointer" [(ngModel)]="restaurant.concept" name="concept">
                    <option value="0">Seleccionar..</option>
                    <option *ngFor="let item of concepts" value="{{ item.id }}" >{{ item.name }}</option>
                </select>
            </div>

            <div class="col-md-7 mtop-20px borderSoft">
                <h3 class="cl-viol">Imagenes</h3>

                <div class="row">
                    <div class="col-md-12 p-2">
                        <img *ngFor="let img of images" src="{{ img }}" class="imgMini mtop-5px">
                    </div>
                </div>
                <form>
                    <input type="file" class="form-control" (change)="imageUpload($event, fileInput)" #fileInput>
                </form>
            </div>

            <div class="form-group mtop-20px">
                <button class=" btn cl-viol-pos2 ol-viol ol-viol-hv" info-title="Crear Restaurante" (click)="addRestaurant()">
                    Crear Restaurante
                </button>
            </div>

        </form>
    </div>

    <div class="col-md-6">
        <p class="fs-30 cl-viol fbold">Platos</p>
        <form action="" >
            

            <div class="form-group mtop-10px col-md-6">
                <input type="text" class="form-control ol-viol" [(ngModel)]="dish.name" name="dishname" placeholder="Nombre" required autofocus >
            </div>

            <div class="form-group mtop-10px col-md-6">
                <input type="text" class="form-control ol-viol" [(ngModel)]="dish.description" name="dishdescription" placeholder="Descripción" required autofocus >
            </div>


            <div class="form-group mtop-10px col-md-6">
                <p class="cl-viol fs-25">Restaurante</p>
                <select class="form-control ol-viol ol-viol-hv c-pointer" [(ngModel)]="dish.restaurant" name="restaurant">
                    <option value="0">Seleccionar..</option>
                    <option *ngFor="let item of restaurants" value="{{ item.id }}" >{{ item.name }}</option>
                </select>
            </div>

            <div class="form-group mtop-10px col-md-6">
                <p class="cl-viol fs-25">Concepto</p>
                <select class="form-control ol-viol ol-viol-hv c-pointer" [(ngModel)]="dish.speciality" name="concept">
                    <option value="0">Seleccionar..</option>
                    <option *ngFor="let item of concepts" value="{{ item.id }}" >{{ item.name }}</option>
                </select>
            </div>

            <div class="form-group mtop-10px col-md-6">
                <p class="cl-viol fs-25">Tipo de Plato</p>
                <select class="form-control ol-viol ol-viol-hv c-pointer" [(ngModel)]="dish.dishType" name="dishtype">
                    <option value="0">Seleccionar..</option>
                    <option *ngFor="let item of dishtypes" value="{{ item.id }}" >{{ item.name }}</option>
                </select>
            </div>

            <div class="form-group mtop-10px col-md-6">
                <p class="cl-viol fs-25">Ingredientes</p>
                <table class="table table-sm table-borderless">
                    <tbody >
                        <tr class="fs-14px" *ngFor="let item of dish.ingredients_data">
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td>
                                <button class=" btn circulo squared25 cl-roze-neg2 ol-roze ol-roze-hv fullcenter fs-12px"     info-title="Quitar ingrediente"   (click)="removeIngredient(item)">
                                    <i class="far fa-times-circle"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form (submit)="addIngredient()">
                <div class="row">
                    <div class="form-group mtop-10px col-md-6">
                        <label for="name">Nombre</label>
                        <input type="text" [(ngModel)]="ingredient.name" name="name" class="form-control ol-viol" id="name" placeholder="nombre" >
                    </div>

                    <div class="form-group mtop-10px col-md-6">
                        <label for="description">Descripción</label>
                        <input type="text" [(ngModel)]="ingredient.description" name="description" class="form-control ol-viol" id="description" placeholder="descripción" >
                    </div>
                </div>

                <button type="submit" class="btn bg-blanco cl-viol-neg2 ol-viol ol-viol-hv mtop-10px">agregar ingrediente</button>

            </form>



            <div class="col-md-7 mtop-20px borderSoft">
                <h3 class="cl-viol">Imagenes</h3>

                <div class="row">
                    <div class="col-md-12 p-2">
                        <img *ngFor="let img of imagesDish" src="{{ img }}" class="imgMini mtop-5px">
                    </div>
                </div>
                <form>
                    <input type="file" class="form-control" (change)="imageUploadDish($event, fileInput2)" #fileInput2>
                </form>
            </div>

            <div class="form-group mtop-20px">
                <button class=" btn cl-viol-pos2 ol-viol ol-viol-hv" info-title="Crear Restaurante" (click)="addDish()">
                    Crear Plato
                </button>
            </div>


        </form>
    </div>


</div>  