<div class="row">

    <!-- ###############    IZQ    ################## -->
    <div class="col-md-2">

        <div class="form-group mtop-10px">
            <input type="text" class="form-control ol-viol" [(ngModel)]="txt" name="txt" placeholder="Buscar Preferencias" required autofocus >
        </div>

        <!-- <form action="" method="post" (submit)="filter()" > -->

            <div class="form-group mtop-20px">
                <h5 class="cl-viol">Concepto</h5>
                <select class="form-control ol-viol ol-viol-hv c-pointer" [(ngModel)]="concept" name="concept">
                    <option value="0">Todos</option>
                    <option *ngFor="let item of concepts" value="{{ item.id }}" >{{ item.name }}</option>
                </select>
            </div>

            <div class="form-group mtop-20px">
                <h5 class="cl-viol">Tipo</h5>
                <select class="form-control ol-viol ol-viol-hv c-pointer" [(ngModel)]="type" name="type">
                    <option value="0">Todos</option>
                    <option *ngFor="let item of types" value="{{ item.id }}" >{{ item.name }}</option>
                </select>
            </div>

            <div class="form-group mtop-20px">
                <button class=" btn cl-viol-pos2 ol-viol ol-viol-hv" info-title="Filtrar busqueda" (click)="filter()">
                    Buscar
                </button>
            </div>

        <!-- </form> -->
    </div>




    <!-- ###############    MID    ################## -->
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-4 mtop-10px" *ngFor="let item of dishes">
                <div class="cuadroCard">
                    <img class="card-img-top imgCard" [src]=" item.files.length == 0 ? '/assets/files/default_dish.png': 'http://localhost:4000/files/' + item.files[0].path " >

                    <div class="footCard">
                        <h6 class="ff-cgothic fbold no-margin cl-viol-pos1">{{ item.name }}</h6>
                        <p class="fs-13px no-margin fbold cl-gris-3"> <span class="flight"> {{ item.description }} </span> </p>
                        <p class="fs-13px no-margin fbold cl-gris-3"> Restaurante: <span class="flight"> {{ item.restaurant.name }} </span></p>
                        <p class="fs-13px no-margin fbold cl-gris-3"> Concepto: <span class="flight"> {{ item.speciality.name }} </span></p>
                        <p class="fs-13px no-margin fbold cl-gris-3"> Tipo: <span class="flight"> {{ item.dishType.name }} </span></p>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <!-- ###############    DER    ################## -->
    <div class="col-md-3" *ngIf="filterMode">
        <h4 class="cl-viol-neg2">Restaurantes Recomendados</h4>
        <table class="table table-sm table-borderless" >
            <tbody>
              <tr *ngFor="let item of restaurants">
                <td>{{ item.name }}</td>
                <td>{{ item.location }}</td>
              </tr>
            </tbody>
          </table>
    </div>

</div>
